services:
  diettube:
    build: .
    container_name: diettube
    ports:
      - "8000:8000"
    volumes:
      - ./data/config:/config
      - ./data/temp:/temp
      - /path/to/your/videos:/source
    environment:
      - PUID=1000
      - PGID=1000
      - DIETTUBE_VIDEO_PRESET=6
      - DIETTUBE_VIDEO_CRF=30
      - DIETTUBE_VIDEO_FILM_GRAIN=0
      - DIETTUBE_AUDIO_BITRATE=128k
      - DIETTUBE_MAX_THREADS=0
      - DIETTUBE_ORIGINAL_FILE_STRATEGY=trash
    restart: unless-stopped
